<?xml version="1.0" encoding="UTF-8"?>
<app name="Games Menu" icon="images/icon.png" version="0.9.1">
	<resources>
		<module src="../../modules/minilzo.klf" />
		<module src="../../modules/isofs.klf" />
		<module src="../../modules/isoldr.klf" />
		<module src="../../modules/wave.klf" />
		<module src="modules/app_games_menu.klf" />
	</resources>
	<body type="tsunami" width="100%" height="100%"
		onload="export:GamesApp_Init()"
		onopen="export:GamesApp_Open()"
		onunload="export:GamesApp_Shutdown()">
	</body>
</app>
