.DS_Store
.codelite
*.o
*.a
*.elf
*.op
*.os
*.build
*.log
*.lo
*.la
*.cache
*.status
*.sym
*.d
.libs
DS.cdi
DS_CORE.BIN
build/1DS_CORE.BIN
romdisk.img
applications/*/*/*.klf
applications/*/*/exports.c
modules/*/*.klf
exports.c
exports_stubs.c
exports_gcc.c
exports_gcc_stubs.c
sdk/toolchain/
!sdk/toolchain/download.sh
!sdk/toolchain/Makefile
!sdk/toolchain/patches/
!sdk/toolchain/unpack.sh
!sdk/toolchain/cleanup.sh
!sdk/toolchain/versions.sh
lib/freetype/builds/
lib/freetype/objs/
lib/mxml/Makefile
lib/mxml/mxml.list
lib/mxml/mxml.pc
