.DS_Store
.codelite
settings.json
*.o
*.a
*.elf
*.op
*.os
*.build
*.log
*.lo
*.la
*.cache
*.status
*.sym
*.d
*.opk
*.klf
.libs
build/
DS.cdi
DS_CORE.BIN
romdisk.img
exports.c
exports_stubs.c
exports_gcc.c
exports_gcc_stubs.c
