.DS_Store
.codelite
*.o
*.a
*.elf
*.op
*.os
*.build
*.log
*.lo
*.la
*.cache
*.status
*.sym
*.d
*.opk
*.klf
*.raw
*.wav
*.iso
*.gdi
*.cdi
.libs
build/
release/
*DS_CORE.BIN
romdisk.img
exports.c
exports_stubs.c
exports_gcc.c
exports_gcc_stubs.c
