<?xml version="1.0" encoding="UTF-8"?>
<app name="Speedtest" version="0.5.0" icon="images/icon.png">
    <resources>
        <module src="modules/app_speedtest.klf" />
        <font src="../../fonts/ttf/comic_lite.ttf" type="ttf" size="22" name="comic-22" />
        <font src="../../fonts/ttf/comic_lite.ttf" type="ttf" size="16" name="comic-16" />
        <font src="../../fonts/ttf/comic_lite.ttf" type="ttf" size="14" name="comic-15" />
        <surface width="100%" height="100%" name="back">
            <blit surface="../../gui/back/nautilus.jpg" />
        </surface>
        <surface height="45" name="header-bg">
            <fill color="#C9DADE" />
            <fill color="#BBBBBB" height="1" y="43" />
            <fill color="#CCCCCC" height="1" y="44" />
        </surface>
        <surface width="190" height="250" name="card_bg">
            <fill color="#EEEEEE" />
            <fill x="2" y="2" width="186" height="246" color="#3E6BA4" />
        </surface>
        <image src="images/icon_sd.png" name="icon_sd" />
        <image src="images/icon_ide.png" name="icon_ide" />
        <image src="images/icon_gd.png" name="icon_gd" />
        <image src="../../gui/icons/normal/button_cancel.png" name="iExitNorm" />
        <image src="../../gui/icons/highlight/button_cancel.png" name="iExitHigh" />
    </resources>

    <body width="100%" height="100%" background="back"
        onload="export:Speedtest_Init()"
        onopen="export:Speedtest_Open()">

        <panel height="45" background="header-bg" name="header-panel">
            <label font="comic-22" color="#666666" text="Speedtest" />
        </panel>

        <panel x="25" y="95" width="590" height="250">
            <panel x="0" y="0" width="190" height="250">
                <panel width="190" height="250" backgroundCenter="card_bg" name="dev-sd">

                    <panel x="6" y="8" width="178" height="28">
                        <label width="100%" height="28" font="comic-22" color="#FFFFFF" text="SD Card" align="center" />
                    </panel>

                    <panel x="63" y="40" width="64" height="64">
                        <image src="icon_sd" />
                    </panel>

                    <panel x="6" y="112" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="sd-size" text="Size: N/A" align="left" />
                    </panel>

                    <panel x="6" y="132" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="sd-lba" text="Mode: N/A" align="left" />
                    </panel>

                    <panel x="6" y="152" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="sd-iface" text="Interface: N/A" align="left" />
                    </panel>

                    <panel y="198" width="190" height="36">
                        <input type="button" width="120" height="30" align="center"
                                onclick="export:Speedtest_Run()" name="/sd">
                            <label font="comic-16" color="#EEEEEE" text="Speed Test" align="center" />
                        </input>
                    </panel>

                </panel>
            </panel>

            <panel x="200" y="0" width="190" height="250">
                <panel width="190" height="250" backgroundCenter="card_bg" name="dev-ide">

                    <panel x="6" y="8" width="178" height="28">
                        <label width="100%" height="28" font="comic-22" color="#FFFFFF" text="IDE Drive" align="center" />
                    </panel>

                    <panel x="63" y="40" width="64" height="64">
                        <image src="icon_ide" />
                    </panel>

                    <panel x="6" y="112" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="ide-size" text="Size: N/A" align="left" />
                    </panel>

                    <panel x="6" y="132" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="ide-lba" text="Mode: N/A" align="left" />
                    </panel>

                    <panel x="6" y="152" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="ide-iface" text="Interface: N/A" align="left" />
                    </panel>

                    <panel y="198" width="190" height="36">
                        <input type="button" width="120" height="30" align="center"
                                onclick="export:Speedtest_Run()" name="/ide">
                            <label font="comic-16" color="#EEEEEE" text="Speed Test" align="center" />
                        </input>
                    </panel>

                </panel>
            </panel>

            <panel x="400" y="0" width="190" height="250">
                <panel width="190" height="250" backgroundCenter="card_bg" name="dev-cd">

                    <panel x="6" y="8" width="178" height="28">
                        <label width="100%" height="28" font="comic-22" color="#FFFFFF" text="GD-ROM" align="center" />
                    </panel>

                    <panel x="63" y="40" width="64" height="64">
                        <image src="icon_gd" />
                    </panel>

                    <panel x="6" y="112" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="cd-size" text="Size: N/A" align="left" />
                    </panel>

                    <panel x="6" y="132" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="cd-lba" text="Mode: LBA48" align="left" />
                    </panel>

                    <panel x="6" y="152" width="178" height="18">
                        <label width="100%" height="18" font="comic-15" color="#FFFFFF" name="cd-iface" text="Interface: GD-ROM" align="left" />
                    </panel>

                    <panel y="198" width="190" height="36">
                        <input type="button" width="120" height="30" align="center"
                                onclick="export:Speedtest_Run()" name="/cd">
                            <label font="comic-16" color="#EEEEEE" text="Speed Test" align="center" />
                        </input>
                    </panel>

                </panel>
            </panel>
        </panel>

        <input type="button"
                normal="iExitNorm"
                highlight="iExitHigh"
                pressed="iExitNorm"
                disabled="iExitNorm"
                onclick="console:app -o"
                x="584" y="424" width="48" height="48" />

        <dialog name="results-dialog" font="comic-22"
                x="50" y="80" width="540" height="320"
                onconfirm="export:Speedtest_DialogConfirm" />
    </body>
</app>
