/* ***** BEGIN LICENSE BLOCK ***** 
 * Version: RCSL 1.0/RPSL 1.0 
 *  
 * Portions Copyright (c) 1995-2002 RealNetworks, Inc. All Rights Reserved. 
 *      
 * The contents of this file, and the files included with this file, are 
 * subject to the current version of the RealNetworks Public Source License 
 * Version 1.0 (the "RPSL") available at 
 * http://www.helixcommunity.org/content/rpsl unless you have licensed 
 * the file under the RealNetworks Community Source License Version 1.0 
 * (the "RCSL") available at http://www.helixcommunity.org/content/rcsl, 
 * in which case the RCSL will apply. You may also obtain the license terms 
 * directly from RealNetworks.  You may not use this file except in 
 * compliance with the RPSL or, if you have a valid RCSL with RealNetworks 
 * applicable to this file, the RCSL.  Please see the applicable RPSL or 
 * RCSL for the rights, obligations and limitations governing use of the 
 * contents of the file.  
 *  
 * This file is part of the Helix DNA Technology. RealNetworks is the 
 * developer of the Original Code and owns the copyrights in the portions 
 * it created. 
 *  
 * This file, and the files included with this file, is distributed and made 
 * available on an 'AS IS' basis, WITHOUT WARRANTY OF ANY KIND, EITHER 
 * EXPRESS OR IMPLIED, AND REALNETWORKS HEREBY DISCLAIMS ALL SUCH WARRANTIES, 
 * INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY, FITNESS 
 * FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT. 
 * 
 * Technology Compatibility Kit Test Suite(s) Location: 
 *    http://www.helixcommunity.org/content/tck 
 * 
 * Contributor(s): 
 *  
 * ***** END LICENSE BLOCK ***** */ 

#ifdef APSTUDIO_INVOKED
	#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
// Add manually edited resources here...

/////////////////////////////////////////////////////////////////////////////
// Version stamp for this deliverable

#ifdef WIN32
#include <winver.h>      // Defines for 32bit windows version resources
#else
#include <ver.h>        // Defines for 16bit windows version resources
#endif

#include "hxver.h"        // Defines for standard deliverables
#include "raac.ver"     // Defines for this deliverable created by GETFILES

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO         VERSIONINFO
    FILEVERSION         TARVER_LIST_VERSION
    PRODUCTVERSION      TARVER_LIST_VERSION
#if defined(_DEBUG) && !defined(_WINCE)
    FILEFLAGS           VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
#else
    FILEFLAGS           0 // final version
#endif
#ifndef _WINCE
    FILEFLAGSMASK       VS_FFI_FILEFLAGSMASK
    FILEOS              VER_FILEOS
#endif

    FILETYPE            0   // not needed
    FILESUBTYPE         0   // not needed

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
        BEGIN 
            VALUE "FileDescription", "RealAudio AAC Fixed-Point Decoder\0"
            VALUE "InternalName",    "raac\0"
            VALUE "OriginalFilename","raac.dll\0"
            VALUE "ProductName",     "RealAudio Advanced Audio Coding\0"
            VALUE "FileVersion",     TARVER_STRING_VERSION
            VALUE "ProductVersion",  TARVER_STRING_VERSION
            VALUE "CompanyName",     HXVER_COMPANY
            VALUE "LegalCopyright",  HXVER_COPYRIGHT
            VALUE "LegalTrademarks", HXVER_TRADEMARKS
            VALUE "LibraryType",     "RACodecHelper\0"
        END
    END
    BLOCK "VarFileInfo" 
    BEGIN 
        VALUE "Translation", 0x409, 1252
            // English language (0x409) and the Windows ANSI codepage (1252)
    END
END

/////////////////////////////////////////////////////////////////////////////
