[Desktop Entry]
Name=bflash
Type=Application
Exec=bflash -w -f %f
Comment=BIOS Flasher
Terminal=true
Categories=applications
MimeType=application/bios
