<?xml version="1.0" encoding="UTF-8"?>
<app name="File Manager" version="1.0.0" icon="images/icon.png">
	<resources>
		<module src="../../modules/tolua.klf" />
		<module src="../../modules/luaDS.klf" />
		<module src="../../modules/luaGUI.klf" />
		<script type="text/lua" src="lua/main.lua" />
		<font src="../../fonts/ttf/comic_lite.ttf" type="ttf" size="16" name="comic" />
		<image src="images/toolbar/exec_norm.png" name="icon-exec" />
		<image src="images/toolbar/exec_highlight.png" name="icon-exec-high" />
		<image src="images/toolbar/copy_norm.png" name="icon-copy" />
		<image src="images/toolbar/copy_highlight.png" name="icon-copy-high" />
		<image src="images/toolbar/delete_norm.png" name="icon-delete" />
		<image src="images/toolbar/delete_highlight.png" name="icon-delete-high" />
		<image src="images/toolbar/rename_norm.png" name="icon-rename" />
		<image src="images/toolbar/rename_highlight.png" name="icon-rename-high" />
		<image src="images/toolbar/mkdir_norm.png" name="icon-mkdir" />
		<image src="images/toolbar/mkdir_highlight.png" name="icon-mkdir-high" />
		<image src="images/toolbar/zip_norm.png" name="icon-zip" />
		<image src="images/toolbar/zip_highlight.png" name="icon-zip-high" />
		<image src="images/toolbar/cd_norm.png" name="icon-cd" />
		<image src="images/toolbar/cd_highlight.png" name="icon-cd-high" />
		<image src="images/toolbar/config_norm.png" name="icon-config" />
		<image src="images/toolbar/config_highlight.png" name="icon-config-high" />
		<image src="images/toolbar/exit_norm.png" name="icon-exit" />
		<image src="images/toolbar/exit_highlight.png" name="icon-exit-high" />
		<surface width="640" height="480" name="background">
			<fill color="#99CBDB" />
			<fill x="13" y="28" width="614" height="443" color="#AAAAAA" />
			<fill x="14" y="29" width="612" height="441" color="#D9D9D9" />
			<fill x="14" y="29" width="612" height="1" color="#FBFBFB" />
			<fill x="15" y="249" width="610" height="1" color="#AAAAAA" />
			<fill x="15" y="250" width="610" height="1" color="#FBFBFB" />
			<fill x="319" y="29" width="1" height="441" color="#AAAAAA" />
			<fill x="320" y="29" width="1" height="441" color="#FBFBFB" />
		</surface>
		<surface width="305" height="110" name="white-bg">
			<fill color="#FFFFFF" />
		</surface>
		<surface width="305" height="110" name="blue-bg">
			<fill color="#EEFBFF" />
		</surface>
	</resources>
	<body width="640" height="480" background="background" onload="FileManager:Initialize()" onunload="FileManager:Shutdown()">
		<label width="340" height="25" x="20" y="2" font="comic" color="#000000" name="title" text="File Manager" align="left" />
		<panel x="365" y="4" width="280" height="22" name="toolbar-panel">
			<input type="button" 
					onclick="FileManager:toolbarCopy()" 
					onmouseover="FileManager:tooltip('Copy selected item')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-copy" 
					highlight="icon-copy-high" 
					pressed="icon-copy" 
					x="5" y="0" width="22" height="22" />
			<input type="button" 
					onclick="FileManager:toolbarDelete()" 
					onmouseover="FileManager:tooltip('Delete selected item')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-delete" 
					highlight="icon-delete-high" 
					pressed="icon-delete" 
					x="31" y="0" width="22" height="22" />
			<input type="button" 
					onclick="FileManager:toolbarMkdir()" 
					onmouseover="FileManager:tooltip('Create a new directory')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-mkdir" 
					highlight="icon-mkdir-high" 
					pressed="icon-mkdir" 
					x="57" y="0" width="22" height="22" />
			<input type="button" 
					onclick="FileManager:toolbarRename()" 
					onmouseover="FileManager:tooltip('Rename selected item')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-rename" 
					highlight="icon-rename-high" 
					pressed="icon-rename" 
					x="83" y="0" width="22" height="22" />
			<input type="button" 
					onclick="FileManager:openFile()" 
					onmouseover="FileManager:tooltip('Open selected file')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-exec" 
					highlight="icon-exec-high" 
					pressed="icon-exec" 
					x="121" y="0" width="22" height="22" />
			<input type="button" 
					onclick="FileManager:toolbarArchive()" 
					onmouseover="FileManager:tooltip('Exctract/compress selected file')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-zip" 
					highlight="icon-zip-high" 
					pressed="icon-zip" 
					x="147" y="0" width="22" height="22" />
			<input type="button" 
					onclick="FileManager:toolbarMountISO()" 
					onmouseover="FileManager:tooltip('Mount selected ISO file as VFS')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-cd" 
					highlight="icon-cd-high" 
					pressed="icon-cd" 
					x="173" y="0" width="22" height="22" />
			<input type="button" 
					onclick="FileManager:toolbarModeSwitch()" 
					onmouseover="FileManager:tooltip('Switch window mode')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-config" 
					highlight="icon-config-high" 
					pressed="icon-config" 
					x="211" y="0" width="22" height="22" />
			<input type="button" 
					onclick="console:app -o -n Main" 
					onmouseover="FileManager:tooltip('Exit from file manager')" 
					onmouseout="FileManager:tooltip(nil)" 
					normal="icon-exit" 
					highlight="icon-exit-high" 
					pressed="icon-exit" 
					x="239" y="0" width="22" height="22" />
		</panel>
		<filemanager path="/" background="white-bg" name="filemgr-top" 
				width="610" height="217" x="15" y="30"
				item_font="comic"
				onclick="FileManagerItemClickTop" 
				oncontextclick="FileManagerItemContextClickTop" 
				onmouseover="FileManagerItemMouseover"
				onselect="FileManagerItemSelectTop" />
		<filemanager path="/" background="white-bg" name="filemgr-bottom" 
				width="610" height="217" x="15" y="252"
				item_font="comic"
				onclick="FileManagerItemClickBottom"
				oncontextclick="FileManagerItemContextClickBottom"
				onmouseover="FileManagerItemMouseover"
				onselect="FileManagerItemSelectBottom" />
		<dialog name="modal-dialog" font="comic"
				x="120" y="160" width="400" height="160"
				onconfirm="FileManager:ModalClick(true)"
				oncancel="FileManager:ModalClick(false)" />
	</body>
</app>
