<?xml version="1.0" encoding="UTF-8"?>
<app extensions=".iso .cso .cdi .gdi" icon="images/icon.png" name="ISO Loader" version="0.8.1">
	<resources>
		<module src="../../modules/minilzo.klf" />
		<module src="../../modules/isofs.klf" />
		<module src="../../modules/isoldr.klf" />
		<module src="../../modules/wave.klf" />
		<module src="modules/app_iso_loader.klf" />

		<font name="m23" size="14" src="../../fonts/ttf/m23.ttf" type="ttf" />
		<font name="arial" size="15" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />
		<font name="arial-18" size="18" src="../../fonts/ttf/arial_lite.ttf" type="ttf" />

		<image name="logo" src="images/logo.png" />
		<image name="stdico" src="images/gd.png" />
	
		<surface height="104" name="head_bg" width="100%">
			<fill color="#B2E2F9" height="366" />
			<fill color="#31799F" height="114" width="100%" y="366" />
			
			<blit height="79" surface="logo" width="19%" x="1%" y="14" />
		</surface>

		<surface height="380" name="games_bg" width="100%">
			<fill color="#B2E2F9" height="266" />
			<fill color="#31799F" height="114" width="100%" y="266" />
		</surface>

		<surface height="380" name="settings_bg" width="100%">
			<fill color="#B2E2F9" height="266" />
			<fill color="#31799F" height="114" width="100%" y="262" />

			<fill color="#FFFFFF" height="312" width="94%" x="3%" y="10" />
			<fill color="#CCE4F0" height="297" width="92%" x="4%" y="20" />
		</surface>

		<surface height="269" width="269" name="overlay_bg">
			<fill color="#FFFFFF"/>
			<fill color="#61BEEC" height="256" width="256" x="6" y="6" />
		</surface>

		<image name="overlay" src="images/cover_overlay.png" />
		<image name="cover" src="images/cover_image.png" />

		<surface height="30" name="item-normal" width="100%">
			<fill color="#CCE4F0" />
			<fill color="#FFFFFF" height="2" y="28" />
		</surface>
		<surface height="30" name="item-focus" width="100%">
			<fill color="#85C4E2" />
			<fill color="#FFFFFF" height="2" y="28" />
		</surface>
		<surface height="30" name="item-selected" width="100%">
			<fill color="#D4F129" />
			<fill color="#FFFFFF" height="2" y="28" />
		</surface>
		<surface width="18" height="20" name="sbb-normal">
			<fill color="#FFFFFF" />
			<fill x="1" width="17" color="#85C4E2" />
		</surface>
		<surface width="18" height="20" name="sbb-focus">
			<fill color="#FFFFFF" />
			<fill x="1" width="17" color="#61BDEC" />
		</surface>
		<surface width="18" height="20" name="sbb-pressed">
			<fill color="#FFFFFF" />
			<fill x="1" width="17" color="#D4F129" />
		</surface>
		<surface width="18" height="20" name="sbb-disabled">
			<fill color="#FFFFFF" />
			<fill x="1" width="17" color="#CCE4F0" />
		</surface>
		<surface width="18" height="40" name="sb-knob">
			<fill color="#FFFFFF" />
			<fill x="1" y="1" width="17" height="38" color="#85C4E2" />
		</surface>
		<surface width="18" height="260" name="sb-back">
			<fill color="#FFFFFF" />
			<fill width="1" color="#CCE4F0" />
		</surface>

		<image name="btn_cd_norm" src="images/btn_cd_norm.png" />
		<image name="btn_cd_over" src="images/btn_cd_over.png" />
		<image name="btn_cd_disabled" src="images/btn_cd_disabled.png" />

		<image name="btn_sd_norm" src="images/btn_sd_norm.png" />
		<image name="btn_sd_over" src="images/btn_sd_over.png" />
		<image name="btn_sd_disabled" src="images/btn_sd_disabled.png" />

		<image name="btn_hdd_norm" src="images/btn_hdd_norm.png" />
		<image name="btn_hdd_over" src="images/btn_hdd_over.png" />
		<image name="btn_hdd_disabled" src="images/btn_hdd_disabled.png" />

		<image name="btn_pc_norm" src="images/btn_pc_norm.png" />
		<image name="btn_pc_over" src="images/btn_pc_over.png" />
		<image name="btn_pc_disabled" src="images/btn_pc_disabled.png" />

		<image name="iExitNorm" src="images/btn_close_norm.png" />
		<image name="iExitHigh" src="images/btn_close_over.png" />
		<image name="iSetNorm" src="images/btn_settings_norm.png" />
		<image name="iSetHigh" src="images/btn_settings_over.png" />
		<image name="iSetDis" src="images/btn_settings_disabled.png" />
		<image name="iGamesNorm" src="images/btn_games_norm.png" />
		<image name="iGamesHigh" src="images/btn_games_over.png" />
		<image name="iGamesDis" src="images/btn_games_disabled.png" />
		<image name="iLinkNorm" src="images/btn_lnk_norm.png" />
		<image name="iLinkHigh" src="images/btn_lnk_over.png" />
		<image name="iLinkDis" src="images/btn_lnk_disabled.png" />
		<image name="iExtNorm" src="images/btn_ext_norm.png" />
		<image name="iExtHigh" src="images/btn_ext_over.png" />
		<image name="iExtDis" src="images/btn_ext_disabled.png" />

		<image name="iRunNorm" src="images/btn_launch_norm.png" />
		<image name="iRunHigh" src="images/btn_launch_over.png" />
		<image name="iRunDisabled" src="images/btn_launch_disabled.png" />

		<image src="../../gui/buttons/checkbox2/check.png" name="iCheck" />
		<image src="../../gui/buttons/checkbox2/check_hl.png" name="iCheckHigh" />
		<surface width="18" height="17" name="iUncheck">
			<fill color="#FFFFFF" />
		</surface>
		<surface width="18" height="17" name="iUncheckHigh">
			<fill color="#D4F129" />
		</surface>

		<surface height="18" name="input-text-normal" width="26%">
			<fill color="#31799F" />
			<fill color="#FFFFFF" height="16" width="99%" x="1%" y="1" />
		</surface>
		<surface height="16" name="input-text-focus" width="26%">
			<fill color="#31799F" />
			<fill color="#D4F129" height="16" width="99%" x="1%" y="1" />
		</surface>

		<surface height="25" name="sw_btn" width="60">
			<fill color="#FFFFFF" />
			<fill color="#31799F" height="86%" width="90%" x="5%" y="8%" />
		</surface>
		<surface height="25" name="sw_btn_hl" width="60">
			<fill color="#FFFFFF" />
			<fill color="#61BDEC" height="86%" width="90%" x="5%" y="8%" />
		</surface>
		<surface height="25" name="sw_btn_on" width="60">
			<fill color="#31799F" />
			<fill color="#61BDEC" height="86%" width="90%" x="5%" y="8%" />
		</surface>
		<surface height="25" name="sw_btn_on_hl" width="60">
			<fill color="#31799F" />
			<fill color="#61BDEC" height="86%" width="90%" x="5%" y="8%" />
		</surface>

		<surface height="50" width="50%" name="menu_bg">
			<fill color="#FFFFFF" />
			<fill color="#85C4E2" height="48" x="1" y="1" />
		</surface>

		<theme>
			<input offhighlight="iUncheckHigh" offnormal="iUncheck" onhighlight="iCheckHigh" onnormal="iCheck" type="checkbox" />
			<input focus="input-text-focus" highlight="input-text-normal" normal="input-text-normal" type="text" />
		</theme>

	</resources>
	<body height="480" onload="export:isoLoader_Init()" onunload="export:isoLoader_Shutdown()" width="100%" name="main_body">
		<panel background="head_bg" height="104">
			<panel height="25" width="23%" x="21%" y="70">
				<input disabled="btn_sd_disabled" height="23" highlight="btn_sd_over" inactive="true" name="btn_sd" normal="btn_sd_norm" pressed="btn_sd_over" type="button" width="21%" />
				<input disabled="btn_cd_disabled" height="23" highlight="btn_cd_over" inactive="true" name="btn_cd" normal="btn_cd_norm" pressed="btn_cd_over" type="button" width="21%" />
				<input disabled="btn_hdd_disabled" height="23" highlight="btn_hdd_over" inactive="true" name="btn_hdd" normal="btn_hdd_norm" pressed="btn_hdd_over" type="button" width="28%" />
				<input disabled="btn_pc_disabled" height="23" highlight="btn_pc_over" inactive="true" name="btn_pc" normal="btn_pc_norm" pressed="btn_pc_over" type="button" width="26%" />
			</panel>
			<panel height="50" width="50%" x="55%" y="15">
				<panel background="menu_bg">
					<panel x="10" y="6">
						<input disabled="iGamesDis" height="36" highlight="iGamesHigh" inactive="true" name="games" normal="iGamesNorm" onclick="export:isoLoader_ShowGames()" pressed="iGamesNorm" type="button" width="18%" x="0%" y="1" />
						<input disabled="iSetDis" height="36" highlight="iSetHigh" inactive="true" name="settings" normal="iSetNorm" onclick="export:isoLoader_ShowSettings()" pressed="iSetNorm" type="button" width="18%" x="18%" />
						<input disabled="iExtDis" height="36" highlight="iExtHigh" inactive="true" name="extensions" normal="iExtNorm" onclick="export:isoLoader_ShowExtensions()" pressed="iExtNorm" type="button" width="18%" x="36%"/>
						<input disabled="iLinkDis" height="36" highlight="iLinkHigh" inactive="true" name="link" normal="iLinkNorm" onclick="export:isoLoader_ShowLink()" pressed="iLinkNorm" type="button" width="18%" x="54%"/>
						<input disabled="iExitNorm" height="36" highlight="iExitHigh" normal="iExitNorm" onclick="export:isoLoader_Exit()" pressed="iExitNorm" type="button" width="18%" x="72%" />
					</panel>
				</panel>
			</panel>
		</panel>

		<cardstack height="380" name="pages" y="100">

			<panel background="games_bg" height="380">

				<panel x="20" y="12" height="312" width="100%">
					<panel name="filemanager_bg">
						<filemanager height="300"
							item_disabled="item-selected"
							item_font="m23"
							item_font_color="#3278A0"
							item_highlight="item-focus"
							item_normal="item-normal"
							item_pressed="item-focus"
							sb_knob="sb-knob"
							sb_back="sb-back"
							sbbup_normal="sbb-normal"
							sbbup_highlight="sbb-focus"
							sbbup_pressed="sbb-pressed"
							sbbup_disabled="sbb-disabled"
							sbbdown_normal="sbb-normal"
							sbbdown_highlight="sbb-focus"
							sbbdown_pressed="sbb-pressed"
							sbbdown_disabled="sbb-disabled"
							name="file_browser"
							onclick="export:isoLoader_ItemClick()"
							oncontextclick="export:isoLoader_ItemContextClick()"
							path="/" width="302" x="6" y="6" />
					</panel>
				</panel>

				<panel height="46" width="256" x="56%" y="8" name="title_panel">
					<panel height="23">
						<label align="center" color="#3278A0" font="arial-18" name="game_title" text="Select a game" />
					</panel>
					<panel height="23">
						<label align="center" color="#3278A0" font="arial-18" name="game_title2" text=" " />
					</panel>
				</panel>
				<panel height="269" width="269" x="56%" y="55" name="cover_bg">
					<panel background="overlay_bg">
						<panel height="256" width="256" x="6" y="6">
							<panel background="cover" name="cover_image">
						 		<image height="256" src="overlay" width="256" />
							</panel>
						</panel>
					</panel>
				</panel>

				<panel height="40" width="60%" x="4%" y="330">
					<panel height="20" width="50%">
						<label align="left" color="#FFFFFF" font="arial" text="A: browse/select/run" />
					</panel>
					<panel height="20" width="50%">
						<label align="left" color="#FFFFFF" font="arial" text="B: browse/settings" />
					</panel>
					<panel height="20" width="50%">
						<label align="left" color="#FFFFFF" font="arial" text="X/Y+Analog/D-Pad: scroll" />
					</panel>
					<panel height="20" width="50%">
						<label align="left" color="#FFFFFF" font="arial" text="Analog/D-Pad: cursor" />
					</panel>
				</panel>

			</panel>

			<panel background="settings_bg" height="380">

				<panel height="350" width="50%" y="10">

					<label align="left" color="#31799F" font="m23" height="40" text="Settings:" width="41%" x="13%" y="5" />
					<input height="25" name="preset-checkbox" type="checkbox" width="47%" x="44%" y="16">
						<label align="left" color="#000000" font="arial" height="20" text="Save as preset" width="87%" x="17%" />
					</input>

					<panel height="155" width="84%" x="13%" y="45">
						<input height="25" name="dma-checkbox" onclick="export:isoLoader_toggleDMA()" type="checkbox">
							<label align="left" color="#000000" font="arial" height="20" text="Use DMA transfer (GD/IDE only)" x="9%" />
						</input>

						<panel height="72" name="async-panel" width="100%">
							<label align="left" color="#31799F" font="arial" height="22" text="Emulate async read (in sectors):" width="100%" />
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="26%">
								<label align="left" color="#000000" font="arial" height="20" name="async-label" text="none" width="86%" x="36%" />
							</input>
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="17%">
								<label align="left" color="#000000" font="arial" height="20" text="1+" width="91%" x="53%" />
							</input>
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="17%">
								<label align="left" color="#000000" font="arial" height="20" text="2" width="78%" x="53%" />
							</input>
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="17%">
								<label align="left" color="#000000" font="arial" height="20" text="3" width="78%" x="53%" />
							</input>
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="17%">
								<label align="left" color="#000000" font="arial" height="20" text="4" width="78%" x="56%" />
							</input>
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="26%">
								<label align="left" color="#000000" font="arial" height="20" text="16" width="86%" x="36%" />
							</input>
							<input checked="true" height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="17%">
								<label align="left" color="#000000" font="arial" height="20" text="8" width="78%" x="56%" />
							</input>
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="17%">
								<label align="left" color="#000000" font="arial" height="20" text="7" width="78%" x="53%" />
							</input>
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="17%">
								<label align="left" color="#000000" font="arial" height="20" text="6" width="78%" x="53%" />
							</input>
							<input height="25" onclick="export:isoLoader_toggleAsync()" type="checkbox" width="19%">
								<label align="left" color="#000000" font="arial" height="20" text="5" width="80%" x="50%" />
							</input>
						</panel>

						<input height="25" name="cdda-checkbox" onclick="export:isoLoader_toggleCDDA()" type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20" text="Emulate CDDA audio" x="9%" />
						</input>
						<input height="25" name="irq-checkbox" onclick="export:isoLoader_toggleIRQ()" type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20" text="IRQ hooking" x="9%" />
						</input>
					</panel>

					<panel height="125" name="os-panel" width="84%" x="13%" y="187">
						<label align="left" color="#31799F" font="arial" height="25" text="Binary OS:" />
						<input checked="true" height="25" onclick="export:isoLoader_toggleOS()" type="checkbox" width="41%">
							<label align="left" color="#000000" font="arial" height="20" text="Auto" x="23%" />
						</input>
						<input height="25" onclick="export:isoLoader_toggleOS()" type="checkbox" width="46%">
							<label align="left" color="#000000" font="arial" height="20" text="Homebrew" x="20%" />
						</input>
						<input height="25" onclick="export:isoLoader_toggleOS()" type="checkbox" width="41%">
							<label align="left" color="#000000" font="arial" height="20" text="KATANA" x="23%" />
						</input>
						<input height="25" onclick="export:isoLoader_toggleOS()" type="checkbox" width="41%">
							<label align="left" color="#000000" font="arial" height="20" text="WinCE" x="23%" />
						</input>
					</panel>

					<panel height="45" width="52%" x="13%" y="257">
						<label align="left" color="#31799F" font="arial" height="22" text="Loader device:" width="100%" />
						<input font="arial" fontcolor="#000000" height="18" name="device" size="30" type="text" value="auto" width="100%" />
					</panel>
				</panel>

				<panel height="370" width="55%" x="56%" y="10" name="container-panel" >

					<panel height="30" name="switch-panel" width="100%" y="16">
						<input type="checkbox" checked="true" height="25" width="60" onclick="export:isoLoader_toggleOptions()" offhighlight="sw_btn_hl" offnormal="sw_btn" onhighlight="sw_btn_on_hl" onnormal="sw_btn_on">
							<label align="center" color="#ffffff" font="m23" height="20" text="Boot" width="100%" y="3" />
						</input>
						<input type="checkbox" height="25" width="60" x="64" onclick="export:isoLoader_toggleOptions()" offhighlight="sw_btn_hl" offnormal="sw_btn" onhighlight="sw_btn_on_hl" onnormal="sw_btn_on">
							<label align="center" color="#ffffff" font="m23" height="20" text="Heap" width="100%" y="3" />
						</input>
						<input type="checkbox" height="25" width="60" x="128" onclick="export:isoLoader_toggleOptions()" offhighlight="sw_btn_hl" offnormal="sw_btn" onhighlight="sw_btn_on_hl" onnormal="sw_btn_on">
							<label align="center" color="#ffffff" font="m23" height="20" text="CDDA" width="100%" y="3" />
						</input>
						<input type="checkbox" height="25" width="60" x="191" onclick="export:isoLoader_toggleOptions()" offhighlight="sw_btn_hl" offnormal="sw_btn" onhighlight="sw_btn_on_hl" onnormal="sw_btn_on">
							<label align="center" color="#ffffff" font="m23" height="20" text="Patch" width="100%" y="3" />
						</input>
					</panel>

					<cardstack height="330" width="100%" name="options-panel" y="48">
						<panel name="boot-panel">
							<panel height="25" name="boot-mode-panel" width="100%">
								<input checked="true" height="25" onclick="export:isoLoader_toggleBootMode()" type="checkbox" width="22%">
									<label align="left" color="#000000" font="arial" height="20" text="Direct" width="81%" x="32%" />
								</input>
								<input height="25" onclick="export:isoLoader_toggleBootMode()" type="checkbox" width="21%">
									<label align="left" color="#000000" font="arial" height="20" text="IP.BIN" width="86%" x="34%" />
								</input>
								<input height="25" onclick="export:isoLoader_toggleBootMode()" type="checkbox" width="23%">
									<label align="left" color="#000000" font="arial" height="20" text="IP.BIN cut" width="113%" x="31%" />
								</input>
							</panel>

							<panel height="25" width="100%">
								<input name="fastboot-checkbox" type="checkbox" width="33%">
									<label align="left" color="#000000" font="arial" height="20" text="Fast boot" width="100%" x="23%" />
								</input>
								<input name="low-checkbox" type="checkbox" width="33%">
									<label align="left" color="#000000" font="arial" height="20" text="Low-level" width="100%" x="23%" />
								</input>
							</panel>

							<panel height="225" name="boot-memory-panel" width="80%">
								<label y="0" align="left" color="#31799F" font="arial" height="25" text="Loader memory:" width="100%" />

								<input height="22" name="0x8c000100" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8c000100" x="19%" />
								</input>
								<input height="22" name="0x8c001100" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8c001100" x="19%" />
								</input>
								<input height="22" name="0x8c004000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8c004000" x="19%" />
								</input>
								<input height="22" name="0x8c004800" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8c004800" x="19%" />
								</input>
								<input height="22" name="0x8c008000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8c008000" x="19%" />
								</input>
								<input height="22" name="0x8cef8000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8cef8000" x="19%" />
								</input>
								<input height="22" name="0x8cf80000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8cf80000" x="19%" />
								</input>
								<input height="22" name="0x8cfc0000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8cfc0000" x="19%" />
								</input>
								<input height="22" name="0x8cfd0000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8cfd0000" x="19%" />
								</input>
								<input height="22" name="0x8cfe0000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8cfe0000" x="19%" />
								</input>
								<input height="22" name="0x8cfe8000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8cfe8000" x="19%" />
								</input>
								<input height="22" name="0x8cff0000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8cff0000" x="19%" />
								</input>
								<input height="22" name="0x8cff4800" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8cff4800" x="19%" />
								</input>
								<input height="22" name="0x8d000000" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="46%">
									<label align="left" color="#000000" font="arial" height="20" text="0x8d000000" x="19%" />
								</input>
								<input height="23" name="0x8c" onclick="export:isoLoader_toggleMemory()" type="checkbox" width="20%">
									<label align="left" color="#000000" font="arial" height="22" text="0x8c" width="109%" x="45%" />
								</input>
								<input font="arial" fontcolor="#000000" height="18" name="boot-memory-text" onblur="export:isoLoader_toggleMemory()" size="30" type="text" value="e00000" width="59%" />
							</panel>
						</panel>

						<panel name="heap-panel">
							<panel height="255" width="80%">
								<panel name="heap-memory-panel" width="100%">
									<input checked="true" height="25" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="100%">
										<label align="left" color="#000000" font="arial" height="20" text="Auto address selection" x="25" />
									</input>
									<input height="25" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="100%">
										<label align="left" color="#000000" font="arial" height="20" text="Behind the loader" x="25" />
									</input>
									<input height="25" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="100%">
										<label align="left" color="#000000" font="arial" height="20" text="Ingame heap (KANATA only)" x="25" />
									</input>
									<input height="25" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="100%">
										<label align="left" color="#000000" font="arial" height="20" text="Maple DMA buffer" x="25" />
									</input>
									<input height="22" name="0x8c000100" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8c000100" x="19%" />
									</input>
									<input height="22" name="0x8c001100" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8c001100" x="19%" />
									</input>
									<input height="22" name="0x8c004000" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8c004000" x="19%" />
									</input>
									<input height="22" name="0x8c004800" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8c004800" x="19%" />
									</input>
									<input height="22" name="0x8c008000" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8c008000" x="19%" />
									</input>
									<input height="22" name="0x8cfc0000" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8cfc0000" x="19%" />
									</input>
									<input height="22" name="0x8cfd0000" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8cfd0000" x="19%" />
									</input>
									<input height="22" name="0x8cfe0000" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8cfe0000" x="19%" />
									</input>
									<input height="22" name="0x8cfe8000" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8cfe8000" x="19%" />
									</input>
									<input height="22" name="0x8cff0000" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8cff0000" x="19%" />
									</input>
									<input height="22" name="0x8cff4800" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8cff4800" x="19%" />
									</input>
									<input height="22" name="0x8d000000" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="46%">
										<label align="left" color="#000000" font="arial" height="20" text="0x8d000000" x="19%" />
									</input>
									<input height="23" name="0x8c" onclick="export:isoLoader_toggleHeap()" type="checkbox" width="20%">
										<label align="left" color="#000000" font="arial" height="22" text="0x8c" width="109%" x="45%" />
									</input>
									<input font="arial" fontcolor="#000000" height="18" name="heap-memory-text" onblur="export:isoLoader_toggleHeap()" size="30" type="text" value="e00000" width="59%" />
								</panel>
							</panel>
						</panel>

						<panel name="cdda-panel">
							<panel height="250" width="80%">
								<panel name="cdda-mode-panel" width="100%">
									<panel width="100%" height="25" name="cdda-mode-src-panel">
										<label align="left" color="#31799F" font="arial" height="20" text="Source:" width="30%" />
										<input height="25" onclick="export:isoLoader_toggleCDDA_Source()" type="checkbox" width="31%">
											<label align="left" color="#000000" font="arial" height="20" text="PIO" x="25" />
										</input>
										<input height="25" onclick="export:isoLoader_toggleCDDA_Source()" type="checkbox" width="39%">
											<label align="left" color="#000000" font="arial" height="20" text="DMA" x="25" />
										</input>
									</panel>
									<panel width="100%" height="25" name="cdda-mode-dst-panel">
										<label align="left" color="#31799F" font="arial" height="20" text="Destination:" width="30%" />
										<input height="25" onclick="export:isoLoader_toggleCDDA_Dest()" type="checkbox" width="31%">
											<label align="left" color="#000000" font="arial" height="20" text="SQ" x="25" />
										</input>
										<input height="25" onclick="export:isoLoader_toggleCDDA_Dest()" type="checkbox" width="39%">
											<label align="left" color="#000000" font="arial" height="20" text="DMA" x="25" />
										</input>
									</panel>
									<panel width="100%" height="25" name="cdda-mode-pos-panel">
										<label align="left" color="#31799F" font="arial" height="20" text="Position:" width="30%" />
										<input height="25" onclick="export:isoLoader_toggleCDDA_Pos()" type="checkbox" width="31%">
											<label align="left" color="#000000" font="arial" height="20" text="TMU1" x="25" />
										</input>
										<input height="25" onclick="export:isoLoader_toggleCDDA_Pos()" type="checkbox" width="39%">
											<label align="left" color="#000000" font="arial" height="20" text="TMU2" x="25" />
										</input>
									</panel>
									<panel width="100%" height="25" name="cdda-mode-ch-panel">
										<label align="left" color="#31799F" font="arial" height="20" text="Channels:" width="30%" />
										<input height="25" onclick="export:isoLoader_toggleCDDA_Chan()" type="checkbox" width="31%">
											<label align="left" color="#000000" font="arial" height="20" text="Fixed" x="25" />
										</input>
										<input height="25" onclick="export:isoLoader_toggleCDDA_Chan()" type="checkbox" width="39%">
											<label align="left" color="#000000" font="arial" height="20" text="Adaptive" x="25" />
										</input>
									</panel>
								</panel>
							</panel>
						</panel>

						<panel name="patch-panel">
							<panel height="225" width="80%">
								<panel height="20">
									<label align="left" color="#000000" font="arial" height="20" text="Patch address 1" />
								</panel>
								<input font="arial" fontcolor="#000000" height="18" name="pa1-text" onblur="export:isoLoader_togglePatchAddr()" size="30" type="text" value="0c000000" width="59%" />
								<panel height="25">
									<label align="left" color="#000000" font="arial" height="20" y="5" text="Patch value 1" />
								</panel>
								<input font="arial" fontcolor="#000000" height="18" name="pv1-text" onblur="export:isoLoader_togglePatchAddr()" size="30" type="text" value="00000000" width="59%" />
								<panel height="25">
									<label align="left" color="#000000" font="arial" height="20" y="5" text="Patch address 2" />
								</panel>
								<input font="arial" fontcolor="#000000" height="18" name="pa2-text" onblur="export:isoLoader_togglePatchAddr()" size="30" type="text" value="0c000000" width="59%" />
								<panel height="25">
									<label align="left" color="#000000" font="arial" height="20" y="5" text="Patch value 2" />
								</panel>
								<input font="arial" fontcolor="#000000" height="18" name="pv2-text" onblur="export:isoLoader_togglePatchAddr()" size="30" type="text" value="00000000" width="59%" />
							</panel>
						</panel>

					</cardstack>

				</panel>
			</panel>

			<panel background="settings_bg" height="380">
				<panel height="350" width="55%" y="10">

					<label align="left" color="#31799F" font="m23" height="40" text="Extensions:" width="45%" x="12%" y="5" />

					<panel height="30" width="86%" x="12%" y="45">
						<input height="25" name="alt-boot-checkbox" type="checkbox">
							<label align="left" color="#000000" font="arial" height="20" text="Boot from 2ND_READ.BIN" x="9%" />
						</input>
					</panel>
					<panel height="30" width="86%" x="12%" y="75">
						<input height="25" name="screenshot-checkbox" onclick="export:isoLoader_toggleExtension()" type="checkbox">
							<label align="left" color="#000000" font="arial" height="20" text="Enable screenshots (START + A + B)" x="9%" />
						</input>
					</panel>
					<panel height="150" width="86%" x="12%" y="105">
						<label align="left" color="#31799F" font="arial" height="25" width="100%" text="VMU emulation:" />
						<input font="arial" fontcolor="#000000" height="18" name="vmu-number" size="20" type="text" value="001" width="40" />
						<input height="25" y="50" name="vmu-checkbox" onclick="export:isoLoader_toggleVMU()" type="checkbox">
							<label align="left" color="#000000" font="arial" height="20" text="Disabled" x="9%" />
						</input>
						<input height="25" name="vmu-shared-checkbox" onclick="export:isoLoader_toggleVMU()" type="checkbox">
							<label align="left" color="#000000" font="arial" height="20" text="Shared dump from root" x="9%" />
						</input>
						<input height="25" name="vmu-priv-checkbox" onclick="export:isoLoader_toggleVMU()" type="checkbox">
							<label align="left" color="#000000" font="arial" height="20" text="Private dump 200 blocks (128 KB)" x="9%" />
						</input>
						<input height="25" name="vmu-priv-1mb-checkbox" onclick="export:isoLoader_toggleVMU()" type="checkbox">
							<label align="left" color="#000000" font="arial" height="20" text="Private dump 1800 blocks (1024 KB)" x="9%" />
						</input>
					</panel>
				</panel>
			</panel>

			<panel background="settings_bg" height="380">

				<panel height="350" width="50%" y="10">
					<panel width="256" height="256" x="45" y="30">
						<image src="stdico" name="link-icon"/>
					</panel>
				</panel>

				<panel height="370" width="44%" x="56%" y="10">
					<panel height="340" width="80%" y="15">

						<label y="0" align="left" color="#31799F" font="arial" height="25" text="Icon size:" width="100%" />

						<input height="22" name="48x48" onclick="export:isoLoader_toggleIconSize()" type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20" text="48x48" x="9%" />
						</input>
						<input height="22" name="64x64" onclick="export:isoLoader_toggleIconSize()" type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20" text="64x64 (as apps)" x="9%" />
						</input>
						<input height="22" name="96x96" onclick="export:isoLoader_toggleIconSize()" type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20" text="96x96" x="9%" />
						</input>
						<input height="22" name="128x128" onclick="export:isoLoader_toggleIconSize()" type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20" text="128x128 (default)" x="9%" checked="true" />
						</input>
						<input height="22" name="256x256" onclick="export:isoLoader_toggleIconSize()" type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20" text="256x256" x="9%" />
						</input>

						<panel width="100%" height="4"/>
						<input height="22" name="rotate-link" onclick="export:isoLoader_Rotate_Image()" type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20" text="Rotate image 180" x="9%" />
						</input>

						<panel width="100%" height="4"/>
						<panel width="100%" height="25">
							<label align="left" color="#31799F" font="arial" height="25" text="Icon name:" width="100%" />
						</panel>
						<input font="arial" fontcolor="#000000" height="18" name="link-text"
							onblur="export:isoLoader_toggleLinkName()" size="30" type="text" value="Game name" width="59%" />
						<panel width="100%" height="6"/>
						<input height="22" name="hide-name" onclick="export:isoLoader_toggleHideName()"
							type="checkbox" width="100%">
							<label align="left" color="#000000" font="arial" height="20"
								text="Don't show name" x="9%" checked="true" />
						</input>

						<panel width="100%" height="8"/>
						<input name="save-link-btn" disabled="iGamesDis" height="36" width="250"
							highlight="iGamesHigh" normal="iGamesNorm" onclick="export:isoLoader_MakeShortcut()"
							pressed="iGamesNorm" type="button" >
							<label align="left" color="#31799F" font="m23" height="36"
								name="save-link-txt" text="Create shortcut" x="45" />
						</input>
					</panel>
				</panel>

			</panel>
		</cardstack>

		<panel width="30%" x="70%" y="435" height="30" background="#31799F" name="run-panel">
			<input type="button" width="82" height="30" disabled="iRunDisabled" highlight="iRunHigh" inactive="true" name="run_iso" normal="iRunNorm" onclick="export:isoLoader_Run()" pressed="iRunNorm" />

			<panel height="20" width="60" x="110" y="5">
				<label color="#FFFFFF" aling="left" font="arial" name="version" text="v0.0.0" />
			</panel>
		</panel>
	</body>
</app>
