<?xml version="1.0" encoding="UTF-8"?>
<app name="Network" version="0.4.0" icon="images/icon.png">
	<resources>
		<module src="modules/app_network.klf" />
		<font src="../../fonts/ttf/comic_lite.ttf" type="ttf" size="22" name="comic-22" />
		<font src="../../fonts/ttf/comic_lite.ttf" type="ttf" size="20" name="comic-20" />
		<font src="../../fonts/ttf/comic_lite.ttf" type="ttf" size="16" name="comic-16" />
		<surface height="45" name="header-bg">
			<fill color="#C9DADE" />
			<fill color="#BBBBBB" height="1" y="43" />
			<fill color="#CCCCCC" height="1" y="44" />
		</surface>
	</resources>
	<body width="100%" height="100%" background="#DDDDDD"
		onload="export:NetworkApp_Init()"
		onunload="export:NetworkApp_Shutdown()"
		onopen="export:NetworkApp_Open()">
		<panel height="45" background="header-bg">
			<label font="comic-22" color="#31799F" text="DreamShell Network" />
		</panel>
		<cardstack name="pages">
			<panel name="main-page" y="30">
				<panel height="65" width="50%">
					<input type="button" width="280" height="60"
						onclick="export:NetworkApp_ToggleEthernet()" align="center">
						<label font="comic-22" color="#EEEEEE" text="" name="eth-but-txt" />
					</input>
				</panel>
				<panel height="65" width="50%">
					<input type="button" width="280" height="60"
						onclick="export:NetworkApp_ToggleFTP()" align="center">
						<label font="comic-22" color="#EEEEEE" text="" name="ftpd-but-txt" />
					</input>
				</panel>
				<panel height="65" width="50%">
					<input type="button" width="280" height="60"
						onclick="export:NetworkApp_ToggleModem()" align="center">
						<label font="comic-22" color="#EEEEEE" text="" name="ppp-but-txt" />
					</input>
				</panel>
				<panel height="65" width="50%">
					<input type="button" width="280" height="60"
						onclick="export:NetworkApp_ToggleHTTP()" align="center">
						<label font="comic-22" color="#EEEEEE" text="" name="httpd-but-txt" />
					</input>
				</panel>
				<panel height="65" width="100%">
					<input type="button" width="280" height="60"
						onclick="export:NetworkApp_Exit()" align="center">
						<label font="comic-22" color="#EEEEEE" text="Exit" />
					</input>
				</panel>
				<panel height="100" width="100%">
					<panel x="20" y="10">
						<panel width="50%" height="35">
							<panel width="130" height="30">
								<label font="comic-20" color="#31799F" align="left"
									text="Status:" />
							</panel>
							<panel width="150" height="30">
								<label font="comic-20" color="#CF3311" align="left"
									text="disconnected" name="net-status" />
							</panel>
						</panel>
						<panel width="50%" height="35">
							<panel width="140" height="30">
								<label font="comic-20" color="#31799F" align="left"
									text="FTP Server:" />
							</panel>
							<panel width="160" height="30">
								<label font="comic-20" color="#CF3311" align="left"
									text="stopped" name="ftpd-status" />
							</panel>
						</panel>
						<panel width="50%" height="35">
							<panel width="130" height="30">
								<label font="comic-20" color="#31799F" align="left"
									text="IP address:" />
							</panel>
							<panel width="150" height="30">
								<label font="comic-20" color="#CF3311" align="left"
									text="0.0.0.0" name="ip-addr" />
							</panel>
						</panel>
						<panel width="50%" height="35">
							<panel width="140" height="30">
								<label font="comic-20" color="#31799F" align="left"
									text="HTTP Server:" />
							</panel>
							<panel width="160" height="30">
								<label font="comic-20" color="#CF3311" align="left"
									text="stopped" name="httpd-status" />
							</panel>
						</panel>
					</panel>
				</panel>
				<panel height="85" width="100%">
					<panel x="3%" width="94%">
						<panel width="48%">
							<panel width="100%" height="25">
								<input type="checkbox" name="startup-connect-eth-but" onclick="export:NetworkApp_ToggleEth">
									<label x="27" height="20" font="comic-16" color="#31799F" text="Connect ethernet at startup" align="left" />
								</input>
							</panel>
							<panel width="100%" height="25">
								<input type="checkbox" name="startup-connect-ppp-but" onclick="export:NetworkApp_TogglePpp">
									<label x="27" height="20" font="comic-16" color="#31799F" text="Connect dial up at startup" align="left" />
								</input>
							</panel>
							<panel width="100%" height="25">
								<input type="checkbox" name="startup-ntp-but">
									<label x="27" height="20" font="comic-16" color="#31799F" text="Sync time at startup (NTP)" align="left" />
								</input>
							</panel>
						</panel>
						<panel x="48%" width="52%">
							<panel width="100%" height="25">
								<input type="checkbox" name="keep-running-but">
									<label x="27" height="20" font="comic-16" color="#31799F" text="Keep servers running in background" align="left" />
								</input>
							</panel>
						</panel>
					</panel>
				</panel>
			</panel>
		</cardstack>
		<dialog name="dialog" font="comic-16"
				x="120" y="160" width="400" height="160"
				onconfirm="export:NetworkApp_DialogConfirm"
				oncancel="export:NetworkApp_DialogCancel" />
	</body>
</app>
