// Resource script for LuaTask addon library.
// Currently only holds version information.
//
#include "winver.h"

LANGUAGE 0x0a, 0x0b

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,6,2,0
 PRODUCTVERSION 1,6,2,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "2c0a04b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "LuaTask\0"
            VALUE "FileVersion", "1, 6, 2, 0\0"
            VALUE "InternalName", "task\0"
            VALUE "LegalCopyright", "Copyright © 2003-2007 Daniel Quintela\0"
            VALUE "OriginalFilename", "task.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "LuaTask addon library\0"
            VALUE "ProductVersion", "1, 6, 2, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x2c0a, 1200
    END
END
