<?xml version="1.0" encoding="UTF-8"?>
<app name="Main" version="0.6.1" icon="images/icon.png">
	<resources>
		<module src="modules/app_main.klf" />
		<font src="../../fonts/ttf/comic_lite.ttf" type="ttf" size="16" name="comic" />
		<surface width="100%" height="450" name="main-bg">
			<fill color="#70C9DB" />
			<blit align="center" valign="center" surface="images/logo.png" />
		</surface>
		<image src="images/taskbar.png" name="taskbar-bg" />
		<image src="images/left.png" name="left" />
		<image src="images/left_hover.png" name="left-hover" />
		<image src="images/right.png" name="right" />
		<image src="images/right_hover.png" name="right-hover" />
		<image src="images/online.png" name="net-on" />
		<image src="images/offline.png" name="net-off" />
	</resources>
	<body width="100%" height="100%" onload="export:MainApp_Init()" onunload="export:MainApp_Shutdown()" background="main-bg">
		<panel width="100%" height="443" name="app-list" />
		<panel width="100%" height="30">
			<panel width="13%">
				<input type="button" align="right" width="71" onclick="export:MainApp_SlideLeft()"
					normal="left" highlight="left-hover" pressed="left" disabled="left" />
			</panel>
			<panel x="13%" background="taskbar-bg" width="73%">
				<panel x="2%" width="96%">
					<panel width="21%">
						<label name="date" text="00.00.0000" color="#33295A" align="left" valign="center" font="comic" />
					</panel>
					<panel width="63%">
						<label name="version" text="DreamShell" color="#33295A" align="center" valign="center" font="comic" />
					</panel>
					<panel width="16%">
						<panel width="30%">
							<image name="net_icon" src="net-off" />
						</panel>
						<panel x="35%" width="65%">
							<label name="time" text="00:00" color="#33295A" align="right" valign="center" font="comic" />
						</panel>
					</panel>
				</panel>
			</panel>
			<panel width="13%">
				<input type="button" align="left" width="71" onclick="export:MainApp_SlideRight()"
					normal="right" highlight="right-hover" pressed="right" disabled="right" />
			</panel>
		</panel>
		<dialog name="modal-dialog" font="comic"
				x="120" y="160" width="400" height="160"
				onconfirm="export:MainApp_ShortcutDeleteConfirm()"
				oncancel="export:MainApp_ShortcutDeleteCancel()" />
	</body>
</app>
